/* desktop */

.header {
  opacity: 0.5;
  display: flex;
  justify-content: center;
}
body {
  background-image: url(images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}
.classCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid black;
  width: 24%;
  margin: 5px;
  background-color: rgb(207, 207, 207, 0.4);
  filter: grayscale();
}
.classCard:hover {
  filter: none;
}
.classCard:hover > .name {
  background-color: black;
  font-size: 30px;
  transition: all 0.5s;
  color: white;
  text-shadow: 2px;
}
.classCard:hover > img {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: -200px;
  height: 1000px;
  width: 1000px;
}
.name {
  position: relative;
  z-index: 1;
  background-color: none;
  width: auto;
  height: auto;
  color: white;
  text-shadow: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: none;
  /* text-transforms: */
  font-style: italic;
  text-align: center;
  padding-top: 1px;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 330px;
  width: 50%;
  margin: auto;
}
#warrior {
  background-image: url(images/Class_Portraits/normal_warrior.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#ranger {
  background-image: url(images/Class_Portraits/normal_ranger.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#sorceress {
  background-image: url(images/Class_Portraits/normal_sorceress.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#berserker {
  background-image: url(images/Class_Portraits/normal_berserker.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#tamer {
  background-image: url(images/Class_Portraits/normal_tamer.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#musa {
  background-image: url(images/Class_Portraits/normal_musa.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#maehwa {
  background-image: url(images/Class_Portraits/normal_maehwa.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#valkyrie {
  background-image: url(images/Class_Portraits/normal_valkyrie.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
#kunoichi {
  background-image: url(images/Class_Portraits/normal_kunoichi.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#ninja {
  background-image: url(images/Class_Portraits/normal_ninja.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#wizard {
  background-image: url(images/Class_Portraits/normal_wizard.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#witch {
  background-image: url(images/Class_Portraits/normal_witch.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#darkknight {
  background-image: url(images/Class_Portraits/normal_darkknight.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#striker {
  background-image: url(images/Class_Portraits/normal_striker.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#mystic {
  background-image: url(images/Class_Portraits/normal_mystic.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#archer {
  background-image: url(images/Class_Portraits/normal_archer.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#lahn {
  background-image: url(images/Class_Portraits/normal_lahn.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
#shai {
  background-image: url(images/Class_Portraits/normal_shai.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#guardian {
  background-image: url(images/Class_Portraits/normal_guardian.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
#hashashin {
  background-image: url();
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
#modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
  overflow: auto;
  /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
}
#modal-textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 75%;
  margin: auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
#class-trailer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#class-trailer iframe,
#class-trailer object,
#class-trailer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#modal-footer {
  display: flex;
  height: 800px;
  justify-content: center;
  background: rgb(0, 0, 0, 0.5);
  background: linear-gradient(
    35deg,
    rgba(0, 0, 0, 0.9) 60%,
    rgba(227, 7, 7, 0.9) 100%
  );
}
#kzarka {
  width: 100%;
  font-size: 40px;
  color: orangered;
  margin: 60px;
}
#dandelion {
  width: 100%;
  font-size: 40px;
  color: turquoise;
  margin: 60px;
}
#kutum {
  width: 100%;
  font-size: 40px;
  color: purple;
  margin: 60px;
}
#weapon-column {
  z-index: 5;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
#awaken-image {
  position: relative;
}

/* ipad Pro */
@media only screen and (min-device-width: 601px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .header > img {
    opacity: 1;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  body {
    background-color: purple;
  }
  .row {
    display: flex;
    justify-content: space-evenly center;
    width: 100%;
    height: initial;
    margin: auto;
  }
  .classCard {
    border: 5px solid black;
    width: 25%;
    height: 300px;
    background-color: rgb(207, 207, 207, 0.4);
    filter: none;
  }
  .classCard:hover > img {
    position: absolute;
    z-index: -1;
    top: 40%;
    right: -200px;
    height: 1000px;
    width: 1000px;
  }
  #modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 2;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  }
  #modal-textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  #modal-footer {
    z-index: 5000;
    display: flex;
    position: relative;
    height: 400px;
    justify-content: left;
    background: rgb(0, 0, 0, 0.5);
    background: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.9) 60%,
      rgba(227, 7, 7, 0.9) 100%
    );
  }
  #weapon-column {
    z-index: 5000000;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-evenly;
    margin-left: 0px;
  }
  #awaken-image-container {
    position: absolute;
    right: -10%;
    justify-content: right;
  }
  #awaken-image {
    width: auto;
    height: 600px;
  }
  #kzarka {
    width: 100%;
    font-size: 30px;
    color: orangered;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
  #dandelion {
    width: 100%;
    font-size: 30px;
    color: turquoise;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
  #kutum {
    width: 100%;
    font-size: 30px;
    color: purple;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
}
/* mobile */
@media only screen and (max-width: 600px) {
  .header > img {
    opacity: 1;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  body {
    background-color: red;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly center;
    width: 100%;
    height: initial;
    margin: auto;
  }
  .classCard {
    border: 5px solid black;
    width: initial;
    height: 500px;
    background-color: rgb(207, 207, 207, 0.4);
    filter: none;
  }
  .classCard:hover > img {
    position: relative;
    z-index: -15000;
    top: 0%;
    right: 25%;
    height: 400px;
    width: 400px;
  }
  .name {
    position: bottom;
    z-index: 1;
    background-color: none;
    width: auto;
    height: auto;
    color: white;
    text-shadow: blue;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: none;
    font-style: italic;
    text-align: center;
  }
  .classCard:hover > .name {
    background-color: black;
    font-size: 20px;
    transition: all 0.5s;
    color: white;
    text-shadow: 2px;
  }
  #modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 5000;
    /*This puts our modal in front of the body (which has a default z-index setting of `0`*/
    overflow: auto;
    /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  }
  #modal-textbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 75%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  }
  #modal-footer {
    z-index: 5000;
    display: flex;
    position: relative;
    height: 400px;
    justify-content: center;
    background: rgb(0, 0, 0, 0.5);
    background: linear-gradient(
      35deg,
      rgba(0, 0, 0, 0.9) 60%,
      rgba(227, 7, 7, 0.9) 100%
    );
  }
  #awaken-image-container {
    position: absolute;
    right: -10%;
    justify-content: right;
  }
  #awaken-image {
    width: auto;
    height: 400px;
    margin-left: 10%;
    margin-top: 15%;
  }
  #weapon-column {
    z-index: 5000000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0px;
  }
  #kzarka {
    width: 100%;
    font-size: 20px;
    color: orangered;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
  #dandelion {
    width: 100%;
    font-size: 20px;
    color: turquoise;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
  #kutum {
    width: 100%;
    font-size: 20px;
    color: purple;
    background-color: black;
    opacity: 0.8;
    margin: 0px;
    text-align: center;
  }
}
